<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>

<!--

[ini]
ButtonText=Take SS

ImageFormat=jpeg

; NOTE: Shift key is also required in addition to the hotkey listed below.
; Default hotkey is Shift + F10
HotKey=F10

ProgramTitle=calc

; JPEGQuality 100 is best image quality
; 90 to 96 quality suggested
JPEGQuality=96

; https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx
; FileNameTemplate is parsed as per DateTime.Parse rules
; Default is yyyyMMdd-HHmmss-ff
FileNameTemplate=yyyyMMdd-HHmmss-ff

-->